[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "domino"]
	path = domino
	url = https://github.com/cran/domino
	shallow = true
	registered = true
